///////////////////////////////////////////////////////////////////////////////////////////////////
// Colors variables
///////////////////////////////////////////////////////////////////////////////////////////////////

$white: #fff;



///////////////////////////////////////////////////////////////////////////////////////////////////
// Font variables
///////////////////////////////////////////////////////////////////////////////////////////////////

$main-font-family: 'Roboto', sans-serif;
$main-font-weight: 100;



///////////////////////////////////////////////////////////////////////////////////////////////////
// Other variables
///////////////////////////////////////////////////////////////////////////////////////////////////
